#spree-header #header {
    /* background: rgba(34, 34, 34, 1); */
    padding: 20px 0;
    background-color: #f1f1f1 !important;
}
#spree-header #top-nav-bar .nav a {
    color: #666 !important;
}
.header-delivery{
	background-color: #f1f1f1;
	padding: 10px 0px;
}
footer{
   background-color: #1c5c92;
   color: #fff;
   padding-top: 40px;
}
footer a{
	color: #fff;
}
footer .navbar-brand img{
	width: 200px;
}
footer .footer-text{
	padding-top: 30px;
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
footer .social-icon .fa{
	font-size: 2.3em !important;
	padding: 0px 10px;
}
footer .footer-copyright{
	padding: 20px 0px;
}
.delivery-icon{
    display: inline-block;
    background-image: url(//img.cdn.mountainwarehouse.com/common/sprite-16.svg);
    background-size: 46em 43.5em;
}
.i-aov-next-day {
    vertical-align: middle;
    width: 3.3125em;
    height: 2.6875em;
    background-position: -35.9375em -19.1875em;
}
.i-aov-delivery {
    vertical-align: middle;
    width: 3.3125em;
    height: 2.6875em;
    background-position: -35.9375em -30.1875em;
}
.i-aov-no-one {
    vertical-align: middle;
    width: 3.3125em;
    height: 2.6875em;
    background-position: -.3125em -35.3125em;
}
.c-delivery-strip--static__col strong {
    padding-top: .5em;
    line-height: 23px;
    position: relative;
    top: 3px;
    text-transform: uppercase;
}
@media (min-width: 1023px){
.c-delivery-strip--static__col>div>span {
    display: inline-block;
    margin-right: 1.5rem;
}
}
.c-delivery-strip--static__col>div {
    display: inline-block;
    text-align: center;
}
.c-delivery-strip--static__col strong span {
    color: #f6921e;
}
.c-delivery-strip--static__col em {
    line-height: 23px;
    font-style: normal;
    position: relative;
    bottom: 3px;
}
.c-delivery-strip--static__col>div>span {
    margin-top: .25em;
    margin-right: 1.5em;
    float: left;
}
.c-delivery-strip--static {
    margin: 0;
    background-color: #f1f1f1;
    padding: 10px 0;
    color: #666;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}