<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <%= link_to image_tag("logo.png",class: 'logo-img',  alt: " logo"), root_path, :class => "navbar-brand"%>
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="row">
     <div class="container">
      <%= render partial: 'spree/shared/main_nav_bar' %>
    </div>
  </div>
  <div class="row header-delivery">
      <div class="container">
           <div class="c-delivery-strip--static row">
              <div class="c-delivery-strip--static__col col-sm-4">
                  <div>
                      <span class="i-aov-no-one delivery-icon"></span> 
                      <strong>The US's <span>Largest</span></strong>
                          <br> <em>Specialist Outdoor Retailer</em>
                  </div>
              </div>
              <div class="c-delivery-strip--static__col col-sm-4">
                  <div>
                      <span class="i-aov-delivery delivery-icon"></span> 
                      <strong><span>Free</span> Delivery</strong>
                          <br> <em>Over £50</em>
                  </div>
              </div>
              <div class="c-delivery-strip--static__col col-sm-4">
                  <div>
                      <span class="i-aov-next-day delivery-icon"></span> 
                      <strong><span>Free</span> Next Day Delivery</strong>
                          <br> <em>Over £100</em>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
</div>
